# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [2]:
id1 = "206798761"
id2 = "315534917"

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
# df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [6]:
df = pd.DataFrame([id1,id2])

In [7]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

Rotem Sofir, Yuval Leizer

---

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [8]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_file = pd.read_csv(url)
vacc_file['month'] = pd.DatetimeIndex(vacc_file.date).month
vacc_file

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,month
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,2
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,Zimbabwe,ZWE,2021-08-07,2853397.0,1851116.0,1002281.0,NaN,60047.0,19.20,12.45,6.74,4040.0,8
39901,Zimbabwe,ZWE,2021-08-08,2886551.0,1863913.0,1022638.0,33154.0,61908.0,19.42,12.54,6.88,4165.0,8
39902,Zimbabwe,ZWE,2021-08-09,2941508.0,1897123.0,1044385.0,54957.0,66884.0,19.79,12.76,7.03,4500.0,8
39903,Zimbabwe,ZWE,2021-08-10,NaN,NaN,NaN,NaN,53633.0,NaN,NaN,NaN,3609.0,8
39904,Zimbabwe,ZWE,2021-08-11,3017341.0,1932929.0,1084412.0,NaN,59050.0,20.30,13.01,7.30,3973.0,8

In [9]:
vacc_file['date']=pd.to_datetime(vacc_file['date'])
month=(vacc_file['date'].dt.month_name() == "July")
my_month=vacc_file[month].copy()
rows,columns=my_month.shape
rows

6767

 # Q2

In [10]:
vacc_file[['daily_vaccinations']].fillna(method='ffill')
my_month[['daily_vaccinations_new']] = vacc_file.groupby('location')[['daily_vaccinations']].apply(lambda x: x.fillna(method='ffill'))
my_month[['daily_vaccinations_new']] = vacc_file.groupby('location')[['daily_vaccinations']].apply(lambda x: x.fillna(method='bfill'))   
missing_daily=my_month[['daily_vaccinations_new']]
missing_daily

In [11]:
vacc_file[['people_vaccinated_per_hundred']].fillna(method='ffill')
my_month['people_vaccinated_per_hundred_update'] = vacc_file.groupby('location')[['people_vaccinated_per_hundred']].apply(lambda x: x.fillna(method='ffill'))
missing_per_hundred=my_month[['people_vaccinated_per_hundred_update']]
missing_per_hundred

הגיונית, יותר סביר למלא את הערכים החסרים בערכים שקיימים לפניהם כיוון שהנתונים החסרים נבעו כנראה מתקלה בהזנת הנתונים או מידע חסר.
לכן, הנתון שייתן את האינדיקציה האקטואלית ביותר הוא מילוי הערכים לפי הערך שמגיע לפניהם.

# Q3

כדי לסנן את כל מה שלא רלוונטי ולהשאיר רק מדינות, בדקנו מה משותף לכל הערכים שצריך להוריד. 
אחרי שבדקנו, מצאנו שישנה מילה אחת שמשותפת לכולם ובה השתמשנו.

In [12]:
remove = my_month.iso_code.str.contains('OWID')
max_per_day = my_month.loc[~remove,'daily_vaccinations'].max()
country=my_month.loc[my_month['daily_vaccinations']==max_per_day]
country.loc[:,['location','date']]

     location       date
7339    China 2021-07-01

# Q4

In [20]:
remove = my_month.iso_code.str.contains('OWID')
print(my_month.loc[~remove,'daily_vaccinations_new'].mean())
print(my_month.loc[~remove,'daily_vaccinations_new'].median())

168559.2280448718
7869.0

לדעתנו, הממוצע גדול יותר מהחציון כיוון שהערכים הגבוהים בעמודת מספר החיסונים היומי משפיע בעוצמה גבוהה יותר מהערכים הנמוכים.

# Q5

In [14]:
new_month = my_month.loc[my_month['location']=='Israel',['people_vaccinated_per_hundred']]
print("the average of" ,new_month.iloc[0:7].mean())

the average of people_vaccinated_per_hundred    65.302857
dtype: float64

# Q6

In [15]:
new_table=my_month.fillna(0).groupby("location")[["people_vaccinated_per_hundred","month"]].max().copy()
new_table.sort_values("people_vaccinated_per_hundred",ascending=False).head(3)

           people_vaccinated_per_hundred  month
location
Gibraltar                         116.77      7
Pitcairn                          100.00      7
Malta                              90.52      7

# Q7

---
# GOOD LUCK !!!!
---

In [16]:
# do not type below this line